#SubPage {
    position: relative;
    height: 800px;
    width: 200x;
    margin: 0 100px;
    padding: 20px;
    border: 1px solid black;
    p {
        font-size: 20px;
    }

    .btn-stack {
        margin: 30px;
        .ex-button {
            width: 220px;
        }
    }
   
}